<footer class="footer">
  <div class="footer-content">
    <p>© 2024 AiKuraPet. All rights reserved.</p>
    <div class="footer-icons">
      <a href="https://www.instagram.com" target="_blank" class="footer-icon"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="#" target="_blank" class="footer-icon"
        ><i class="fas fa-paw"></i
      ></a>
    </div>
  </div>
</footer>
